* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
img {
  max-width: 100%;
}
.page-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.sidebar {
  float: left;
  width: 15%;
  height: 100%;
}
.page-container {
  float: left;
  width: 85%;
  height: 100%;
  background-color: rgb(212, 209, 209);
  position: relative;
}
.logo {
  padding: 10px 30px;
  height: 60px;
  background-color: rgb(236, 238, 236);
  box-shadow: 0 0 1px 0;
}
.menusidebar {
  width: 100%;
  height: 500px;
  padding-top: 20px;
}
.nav-sidebar-content {
  float: right;
  margin-right: 90px;
  font-size: 14px;
  list-style: none;
}
.nav-sidebar-link {
  padding-top: 25px;
}
.header-wrapper {
  background-color: rgb(228, 228, 228);
  height: 60px;
  width: 100%;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.2);
}
.header-searchbox {
  float: left;
  width: 70%;
}
.searchbox,
.searchbutton {
  margin-top: 12px;
}
.searchbox {
  height: 35px;
  width: 80%;
  margin-left: 40px;
  padding: 0 17px;
  overflow: hidden;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.2);
}
.searchbutton {
  height: 35px;
  width: 55px;
  background-color: #4272d7;
  margin-left: -5px;
  overflow: hidden;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.2);
}
.message,
.notification,
.email,
.johndoe {
  display: inline-block;
  margin-right: 15px;
  width: 12%;
  vertical-align: middle;
}
.header-button {
  float: right;
  height: 35px;
  margin-top: 7px;
  width: 30%;
  font-size: 12px;
  padding-left: 50px;
}
.mainhead {
  width: 100%;
  margin-top: 30px;
  height: 1000px;
  margin-left: 40px;
}
.overview {
  float: left;
  margin-bottom: 30px;
}
.addbutton {
  float: right;
  margin-right: 110px;
  border-radius: 8px;
  overflow: hidden;
  border-color: rgba(0, 0, 0, 0.1);
}
.maincontent1 {
  width: 45%;
  height: 600px;
  float: left;
  clear: both;
}
.maincontent2 {
  float: left;
  width: 45%;
  height: 600px;
  margin-left: 25px;
}
.box1 {
  float: left;
  width: 48%;
  background-image: -webkit-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);
  height: 180px;
  border-radius: 10px;
  overflow: hidden;
}
.box2 {
  float: right;
  width: 48%;
  background-image: -webkit-linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
  height: 180px;
  overflow: hidden;
  border-radius: 10px;
}
.box5 {
  float: left;
  width: 100%;
  height: 350px;
  background-color: white;
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
}
.box3 {
  float: left;
  width: 48%;
  background-image: -webkit-linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
  height: 180px;
  overflow: hidden;
  border-radius: 10px;
}
.box4 {
  float: right;
  width: 48%;
  background-image: -webkit-linear-gradient(90deg, #45b649 0%, #dce35b 100%);
  height: 180px;
  overflow: hidden;
  border-radius: 10px;
}
.box6 {
  float: left;
  width: 100%;
  height: 350px;
  background-color: white;
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
}
.box5 img {
  margin: 100px 20px 40px 40px;
}
.box6 img {
  margin: 80px 20px 40px 320px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: blue;
}
