* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}
body {
  font-family: "Montserrat", sans-serif;
}
.topbar {
  height: 50px;
  background-color: #0c61f2;
  display: flex;
}
.topbar-left {
  float: left;
  width: 40%;
  height: 100%;
}
.topbar-logo img {
  width: 120px;
  height: 50px;
  margin-left: 20px;
}
.topbar-right {
  position: absolute;
  height: 50px;
  top: 0;
  right: 0;
  font-weight: 500;
}
.topbar-icon {
  font-size: 17px;
  padding: 0 10px;
  line-height: 50px;
  color: white;
  background-color: transparent;
}
.sudungtheme,
.topbar-icon {
  display: inline-block;
  vertical-align: middle;
}
.sudungtheme {
  background-color: #ffb822;
  border-color: #ffb822;
  height: 50px;
  text-align: center;
  line-height: 50px;
  padding: 0 10px;
  font-size: 17px;
}
.section1 {
  display: block;
  background-image: url(background-02-1920x950.jpg);
  background-color: rgba(255, 255, 255, 0);
  background-origin: content-box;
  background-size: cover;
  background-attachment: scroll;
  background-position: top left;
  background-repeat: no-repeat;
  width: 100%;
  height: 666px;
  position: relative;
}
.container {
  height: 100%;
  width: 960px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.section1-logo {
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 30px;
  left: 0;
}
.section1-box-right {
  display: block;
  top: 145px;
  right: 20px;
  width: 308px;
  height: 373px;
  position: absolute;
  z-index: 1;
  background-color: rgba(20, 84, 140, 0.7);
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.4);
}
.section2 {
  display: block;
  width: 100%;
  height: 614px;
  position: relative;
}
.section3 {
  display: block;
  background-image: url(standard-bg2-1-211270.png);
  height: 585px;
  width: 100%;
  background-position: top left;
  background-repeat: repeat;
  background-color: #f9c001;
}
.section4 {
  display: block;
  height: 457px;
  width: 100%;
  background-image: url(slide-1-280661.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
  background-size: cover;
}
.section5 {
  display: block;
  height: 579px;
  width: 100%;
  background-color: rgba(245, 228, 241, 1);
}
.section6 {
  display: block;
  height: 881px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}
.section7 {
  background-color: #f9c001;
  display: block;
  width: 100%;
  height: 494px;
  background-image: url(standard-bg2-1-211270.png);
  background-position: top left;
  background-repeat: repeat;
}
.section8 {
  display: block;
  width: 100%;
  height: 260px;
  background-color: rgba(255, 255, 255, 1);
}
.section8 > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section9 {
  display: block;
  width: 100%;
  height: 604px;
  background-image: url(endpage.jpg);
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: top center;
  background-origin: content-box;
}
.section9-wrapper {
  background-color: rgba(5, 5, 5, 0.51);
  width: 100%;
  height: 604px;
}
.section9-box-right {
  display: block;
  position: absolute;
  top: 102px;
  left: 394px;
  width: 566px;
  height: 394px;
  z-index: 1;
  border: 2px solid white;
}
.section1-headline1 {
  color: white;
  font-size: 28px;
  text-align: left;
  font-weight: 400;
  display: block;
  top: 166px;
  left: 0;
  width: 518px;
  height: 144px;
  position: absolute;
  z-index: 1;
}
.section1-headeline2 {
  color: white;
  display: block;
  position: absolute;
  top: 337px;
  left: 0;
  width: 468px;
  height: 72px;
  z-index: 1;
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans";
  line-height: 24px;
}
.section1-button {
  display: block;
  position: absolute;
  z-index: 1;
  top: 448px;
  left: 0;
  width: 160px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  border: 1px solid white;
  border-radius: 5px;
  overflow: hidden;
  font-size: 14px;
}
.section1-form-headline {
  display: block;
  width: 253px;
  height: 44px;
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 27px;
  color: white;
  font-size: 18px;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 22px;
}
.section1-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  top: 87px;
  left: 28px;
  width: 249px;
  height: 182px;
}
.section1-form-input > input {
  width: 100%;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 5px;
  overflow: hidden;
  padding-left: 5px;
}
.section1-form-button {
  display: block;
  position: absolute;
  top: 297px;
  left: 28px;
  width: 250px;
  height: 49px;
  line-height: 49px;
  font-family: "Open Sans";
  background-color: rgba(249, 192, 1, 1);
  font-size: 14px;
  text-align: center;
}
.section2-headline1 {
  display: block;
  position: absolute;
  z-index: 1;
  top: 69px;
  width: 100%;
  height: 34px;
  line-height: 34px;
  font-size: 24px;
  text-align: center;
  color: rgba(94, 93, 93, 1);
}
.section2-headline2 {
  display: block;
  position: absolute;
  z-index: 1;
  top: 120px;
  left: 200px;
  width: 100%;
  line-height: 27px;
  text-align: center;
  width: 559px;
  height: 40px;
}
.section2-group1 {
  display: block;
  position: absolute;
  z-index: 1;
  top: 216px;
  left: -1px;
  width: 449px;
  height: 136px;
}
.group1-icon {
  display: flex;
  position: absolute;
  top: 0px;
  left: 355px;
  width: 95px;
  height: 95px;
  background-color: lightgray;
  line-height: 95px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}
.group1-headline {
  display: block;
  position: absolute;
  z-index: 1;
  top: 3px;
  left: 8px;
  width: 323px;
  height: 27px;
  line-height: 27px;
  font-size: 21px;
  text-align: right;
  font-weight: 600;
}
.group1-paragraph {
  display: block;
  position: absolute;
  z-index: 1;
  top: 36px;
  left: 1px;
  width: 330px;
  height: 100px;
  text-align: right;
  line-height: 20px;
  font-size: 14px;
  color: rgba(110, 110, 110, 1);
}
.section2-group2 {
  display: block;
  position: absolute;
  z-index: 1;
  top: 392px;
  left: -1px;
  width: 443px;
  height: 136px;
}
.group2-icon {
  display: flex;
  position: absolute;
  top: 0px;
  left: 355px;
  width: 95px;
  height: 95px;
  background-color: lightgray;
  line-height: 95px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}
.group2-headline {
  display: block;
  position: absolute;
  z-index: 1;
  top: 3px;
  left: 8px;
  width: 323px;
  height: 27px;
  line-height: 27px;
  font-size: 21px;
  text-align: right;
  font-weight: 600;
}
.group2-paragraph {
  display: block;
  position: absolute;
  z-index: 1;
  top: 36px;
  left: 1px;
  width: 330px;
  height: 100px;
  text-align: right;
  line-height: 20px;
  font-size: 14px;
  color: rgba(110, 110, 110, 1);
}
.section2-group3 {
  display: block;
  position: absolute;
  z-index: 1;
  top: 216px;
  left: 508px;
  width: 451px;
  height: 136px;
}
.group3-icon {
  display: flex;
  position: absolute;
  top: 0px;
  left: 1px;
  width: 95px;
  height: 95px;
  background-color: lightgray;
  line-height: 95px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}
.group3-headline {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 123px;
  width: 323px;
  height: 27px;
  line-height: 27px;
  font-size: 21px;
  text-align: left;
  font-weight: 600;
}
.group3-paragraph {
  display: block;
  position: absolute;
  z-index: 1;
  top: 36px;
  left: 122px;
  width: 330px;
  height: 100px;
  text-align: left;
  line-height: 20px;
  font-size: 14px;
  color: rgba(110, 110, 110, 1);
}
.section2-group4 {
  display: block;
  position: absolute;
  z-index: 1;
  top: 392px;
  left: 509px;
  width: 451px;
  height: 136px;
}
.group4-icon {
  display: flex;
  position: absolute;
  top: 0px;
  left: 1px;
  width: 95px;
  height: 95px;
  background-color: lightgray;
  line-height: 95px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}
.group4-headline {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 123px;
  width: 323px;
  height: 27px;
  line-height: 27px;
  font-size: 21px;
  text-align: left;
  font-weight: 600;
}
.group4-paragraph {
  display: block;
  position: absolute;
  z-index: 1;
  top: 36px;
  left: 122px;
  width: 330px;
  height: 100px;
  text-align: left;
  line-height: 20px;
  font-size: 14px;
  color: rgba(110, 110, 110, 1);
}
.section3-box1 {
  display: block;
  position: absolute;
  z-index: 1;
  top: 194px;
  left: 0px;
  width: 223px;
  height: 319px;
  background-color: white;
}
.section3-box1-img {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 223px;
  height: 228px;
  overflow: hidden;
  background-image: url(A.jpg);
  background-position: center center;
  background-size: cover;
}
.section3-box1-info {
  display: block;
  position: absolute;
  z-index: 1;
  top: 252px;
  padding: 0px;
  width: 100%;
  height: 18px;
  text-align: center;
}
.section3-box2 {
  display: block;
  position: absolute;
  z-index: 1;
  top: 194px;
  left: 245px;
  width: 223px;
  height: 319px;
  background-color: white;
}
.section3-box2-img {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 223px;
  height: 228px;
  overflow: hidden;
  background-image: url(D.jpg);
  background-position: center center;
  background-size: cover;
}
.section3-box2-info {
  display: block;
  position: absolute;
  z-index: 1;
  top: 252px;
  padding: 0px;
  width: 100%;
  height: 18px;
  text-align: center;
}
.section3-box3 {
  display: block;
  position: absolute;
  z-index: 1;
  top: 194px;
  left: 493px;
  width: 223px;
  height: 319px;
  background-color: white;
}
.section3-box3-img {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 223px;
  height: 228px;
  overflow: hidden;
  background-image: url(C.jpg);
  background-position: center center;
  background-size: cover;
}
.section3-box3-info {
  display: block;
  position: absolute;
  z-index: 1;
  top: 252px;
  padding: 0px;
  width: 100%;
  height: 18px;
  text-align: center;
}
.section3-box4 {
  display: block;
  position: absolute;
  z-index: 1;
  top: 194px;
  left: 738px;
  width: 223px;
  height: 319px;
  background-color: white;
}
.section3-box4-img {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 223px;
  height: 228px;
  overflow: hidden;
  background-image: url(B.jpg);
  background-position: center center;
  background-size: cover;
}
.section3-box4-info {
  display: block;
  position: absolute;
  z-index: 1;
  top: 252px;
  padding: 0px;
  width: 100%;
  height: 18px;
  text-align: center;
}
.section3-headline {
  display: block;
  position: absolute;
  z-index: 1;
  top: 60px;
  width: 100%;
  height: 42px;
  line-height: 42px;
  font-size: 30px;
  text-align: center;
  color: white;
}
.section3-paragraph {
  display: block;
  position: absolute;
  z-index: 1;
  top: 119px;
  left: 203px;
  width: 559px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: white;
  font-size: 16px;
}
.section4-headline {
  display: block;
  position: absolute;
  z-index: 1;
  top: 54px;
  width: 100%;
  text-align: center;
  height: 42px;
  line-height: 42px;
  font-size: 24px;
  color: white;
}
.section4-paragraph {
  display: block;
  position: absolute;
  z-index: 1;
  top: 108px;
  left: 204px;
  width: 559px;
  height: 40px;
  text-align: center;
  color: white;
  line-height: 20px;
  font-size: 16px;
}
.section4-box-wrapper {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 207px;
  left: -1px;
  width: 100%;
  height: 170px;
  justify-content: space-between;
}
.section4-box1 {
  display: flex;
  width: 22%;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: white;
}
.section4-box1-headline {
  color: #f9c001;
  line-height: 27px;
  font-size: 21px;
}
.section4-box1-paragraph {
  font-size: 14px;
  line-height: 20px;
}
.section5-headline {
  display: block;
  position: absolute;
  z-index: 1;
  top: 63px;
  width: 100%;
  text-align: center;
  height: 42px;
  line-height: 42px;
  font-size: 24px;
  color: rgba(94, 93, 93, 1);
}
.section5-paragraph {
  display: block;
  position: absolute;
  z-index: 1;
  top: 113px;
  left: 204px;
  width: 559px;
  height: 40px;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  color: rgba(94, 93, 93, 1);
}
.section5-box-wrapper {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 197px;
  left: -1px;
  width: 100%;
  height: 331px;
  justify-content: space-between;
}
.section5-box {
  width: 31%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section5-box1-img {
  background-image: url(slide-3.jpg);
  width: 100%;
  height: 194px;
  background-size: cover;
  background-position: center center;
}
.section5-box-content {
  font-size: 14px;
  line-height: 20px;
}
.section5-box2-img {
  background-image: url(mt-0890-home-header-bg.jpg);
  width: 100%;
  height: 194px;
  background-size: cover;
  background-position: center center;
}
.section5-box3-img {
  background-image: url(mt-0890-content-bg02.jpg);
  width: 100%;
  height: 194px;
  background-size: cover;
  background-position: center center;
}
.section6-img1 {
  display: block;
  position: absolute;
  z-index: 1;
  top: 210px;
  left: 0;
  width: 466px;
  height: 281px;
  background-image: url(destination1.jpg);
  background-position: center center;
  background-size: cover;
}
.section6-img2 {
  display: block;
  position: absolute;
  z-index: 1;
  top: 210px;
  left: 496px;
  width: 466px;
  height: 281px;
  background-image: url(destination2.jpg);
  background-position: center center;
  background-size: cover;
}
.section6-img3 {
  display: block;
  position: absolute;
  z-index: 1;
  top: 520px;
  left: 0;
  width: 466px;
  height: 281px;
  background-image: url(destination3.jpg);
  background-position: center center;
  background-size: cover;
}
.section6-img4 {
  display: block;
  position: absolute;
  z-index: 1;
  top: 520px;
  left: 496px;
  width: 466px;
  height: 281px;
  background-image: url(destination4.jpg);
  background-position: center center;
  background-size: cover;
}
.section6-headline {
  display: block;
  position: absolute;
  z-index: 1;
  top: 63px;
  width: 100%;
  text-align: center;
  height: 42px;
  line-height: 42px;
  font-size: 24px;
  color: rgba(94, 93, 93, 1);
}
.section6-paragraph {
  display: block;
  position: absolute;
  z-index: 1;
  top: 113px;
  left: 204px;
  width: 559px;
  height: 40px;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  color: rgba(94, 93, 93, 1);
}
.section9-headline1 {
  display: block;
  position: absolute;
  z-index: 1;
  top: 120px;
  left: 0px;
  width: 333px;
  height: 42px;
  line-height: 42px;
  font-size: 24px;
  color: white;
}
.section9-headline2 {
  display: block;
  position: absolute;
  z-index: 1;
  top: 200px;
  left: 0px;
  width: 338px;
  height: 132px;
  color: white;
  line-height: 22px;
  font-size: 14px;
}
.section7-box-wrapper {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 85px;
  left: -1px;
  width: 100%;
  height: 323px;
  justify-content: space-between;
}
.section7-box {
  width: 31%;
  height: 323px;
  background-color: brown;
  position: relative;
}
.section7-box-img1 {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 75px;
  width: 155px;
  height: 155px;
  background-image: url(A1.jpg);
  background-size: cover;
  background-position: center center;
  border: 4px solid white;
  border-radius: 50%;
  overflow: hidden;
}
.section7-box-content {
  display: block;
  position: relative;
  z-index: 1;
  top: 80px;
  left: 1px;
  width: 100%;
  height: 243px;
  background-color: white;
  padding: 90px 30px 25px 30px;
  text-align: center;
  line-height: 20px;
}
.section7-box-img2 {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 75px;
  width: 155px;
  height: 155px;
  background-image: url(B1.jpg);
  background-size: cover;
  background-position: center center;
  border: 4px solid white;
  border-radius: 50%;
  overflow: hidden;
}
.section7-box-img3 {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 75px;
  width: 155px;
  height: 155px;
  background-image: url(C1.jpg);
  background-size: cover;
  background-position: center center;
  border: 4px solid white;
  border-radius: 50%;
  overflow: hidden;
}
.diachi,
.hotline,
.email,
.website {
  display: block;
  color: white;
  font-size: 15px;
  line-height: 15px;
  padding-left: 40px;
  padding-bottom: 15px;
}
.diachi {
  padding-top: 30px;
}
.diachi i + p {
  display: inline-block;
}
.hotline i + p {
  display: inline-block;
}
.email i + p {
  display: inline-block;
}
.website i + p {
  display: inline-block;
}
.section9-form-headline {
  display: block;
  position: absolute;
  z-index: 1;
  top: 183px;
  left: 46px;
  width: 472px;
  height: 24px;
  line-height: 24px;
  color: white;
  font-size: 18px;
}
.section9-form {
  display: block;
  position: absolute;
  z-index: 1;
  top: 218px;
  left: 46px;
  width: 480px;
  height: 88px;
}
#input-name,
#input-phonenumber {
  float: left;
  line-height: 25px;
  width: 230px;
  font-size: 13px;
  padding: 4px;
  margin-bottom: 10px;
}
#input-name {
  margin-right: 20px;
}
#input-email {
  display: block;
  width: 100%;
  font-size: 13px;
  padding: 4px;
  line-height: 25px;
}
.section9-button {
  display: block;
  position: absolute;
  z-index: 1;
  top: 319px;
  left: 45px;
  width: 152px;
  text-align: center;
  height: 35px;
  line-height: 35px;
  background-color:#f9c001 ;
  font-family: 'Roboto',sans-serif;
}
a{text-decoration: none;color: white;}
a:hover{color: black;}
