* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.topbar {
  height: 50px;
  background-color: #0c61f2;
  display: flex;
}
.topbar-left {
  float: left;
  width: 40%;
  height: 100%;
}
.topbar-logo img {
  width: 120px;
  height: 50px;
  margin-left: 20px;
}
.topbar-right {
  position: absolute;
  height: 50px;
  top: 0;
  right: 0;
  font-weight: 500;
}
.topbar-icon {
  font-size: 17px;
  padding: 0 10px;
  line-height: 50px;
  color: white;
  background-color: transparent;
}
.sudungtheme,
.topbar-icon {
  display: inline-block;
  vertical-align: middle;
}
.sudungtheme {
  background-color: #ffb822;
  border-color: #ffb822;
  height: 50px;
  text-align: center;
  line-height: 50px;
  padding: 0 10px;
  font-size: 17px;
}
.section1 {
  display: block;
  background-image: url(background-02-1920x950.jpg);
  background-color: rgba(255, 255, 255, 0);
  background-origin: content-box;
  background-size: cover;
  background-attachment: scroll;
  background-position: top left;
  background-repeat: no-repeat;
  width: 100%;
  height: 666px;
  position: relative;
}
.container {
  height: 100%;
  width: 960px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  background-color: blueviolet;
}
.section1-logo {
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 50px;
  left: 0;
}
.section1-box-right {
  display: block;
  top: 145px;
  right: 0;
  width: 308px;
  height: 373px;
  position: absolute;
  z-index: 1;
  background-color: rgba(20, 84, 140, 0.65);
}
.section2 {
  display: block;
  width: 100%;
  height: 614px;
  position: relative;
}
