/* form */
#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  transform: scale(0);
  pointer-events: none;
}
#overlay.active {
  transform: scale(1);
  pointer-events: all;
}
#sign-up {
  max-width: 500px;
  width: 100%;
  position: fixed;
  z-index: 20;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 500ms ease-in-out;
  height: 630px;
}
#sign-up.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 500ms ease-in-out;
}
#sign-in {
  max-width: 500px;
  width: 100%;
  position: fixed;
  z-index: 20;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 500ms ease-in-out;
  height: 490px;
}
#sign-in.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 500ms ease-in-out;
}
#close-su-btn,
#close-li-btn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 2rem;
  cursor: pointer;
}
.form-wrapper {
  padding: 40px 50px;
  border-radius: 4px;
  box-shadow: 0 4px 8px;
}
.form-logo {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
#sign-in div input[type="email"],
#sign-in div input[type="password"] {
  width: 100%;
  border-radius: 4px;
  background-color: white;
  font-size: 0.9rem;
  border: 1px solid gray;
  outline: none;
  padding: 10px;
}
#sign-in div input:focus {
  background-color: transparent;
  outline: none;
  border: 2px solid gray;
}
#sign-in div input[type="password"] {
  margin: 10px 0;
}

.form-flexrow {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
#sign-in div input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 5px;
}
#sign-in .dangnhap-btn,
#sign-up .dangky-btn {
  text-decoration: none;
  color: white;
}
.dangnhap-btn,
.dangky-btn {
  display: block;
  width: 100%;
  background-color: #e93434;
  margin: 30px 0;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
}
.dangnhap-btn:hover,
.dangky-btn:hover {
  opacity: 0.8;
  transition: 0.5;
  cursor: pointer;
}
@media (max-width: 415px) {
  #sign-in {
    font-size: smaller;
    max-height: 460px;
  }
  .form-wrapper {
    padding: 30px;
  }
}
@media (max-width: 500px) {
  #sign-up {
    font-size: smaller;
  }
}
#sign-up div input[type="text"],
#sign-up div input[type="email"],
#sign-up div input[type="password"] {
  width: 100%;
  border-radius: 4px;
  background-color: white;
  font-size: 0.9rem;
  border: 1px solid gray;
  outline: none;
  padding: 10px;
  margin-bottom: 10px;
}
#sign-up input[type="checkbox"] {
  max-width: 15px;
  max-height: 15px;
  margin-right: 5px;
  cursor: pointer;
}
#sign-up .form-flexrow {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.form-flexrow label {
  font-size: 0.85rem;
  padding-top: 5px;
  cursor: pointer;
}
#sign-up div input:focus {
  background-color: transparent;
  outline: none;
  border: 2px solid gray;
}

/* big-carousel */
.big-carousel-wrapper {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.slider-for {
  width: 75%;
  cursor: pointer;
}
.slider-nav {
  width: 23%;
  cursor: pointer;
}
/* new-release */
.new-release-wrapper,
.game-hot-wrapper,
.free-game-wrapper,
.top-seller-wrapper,
.banner-wrapper,
.new-update-wrapper,
.coming-soon-wrapper,
.catalog-wrapper {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 20px;
}

.new-release-headline {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.new-release-btn {
  background-color: #e93434;
  padding: 2px 15px;
  line-height: 20px;
  text-align: center;
  border-radius: 2px;
}
.new-release-btn a {
  font-size: 10px;
  color: white;
}
.new-release-btn:hover,
.free-game-btn:hover {
  opacity: 0.7;
  transition: 0.5s;
}
.owl-carousel {
  max-width: 1080px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.owl-carousel a,
.game-hot a,
.game-sph a {
  color: black;
}
.owl-carousel .item img {
  border-radius: 4px;
}
.owl-carousel .item:hover {
  opacity: 0.8;
  transition: 0.5s;
}
/* free-game */
.free-game-wrapper {
  background-color: #494747;
  max-width: 1080px;
  margin-top: 40px;
  padding: 20px;
}
.free-game-wrapper .containerr {
  align-items: baseline;
}
.free-game-heading-left {
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 500;
}
.free-game-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.free-game-btn {
  padding: 0 18px 4px 18px;
  background-color: #e93434;
  text-align: center;
  border-radius: 2px;
}
.free-games {
  width: 49%;
}
.free-games:hover {
  opacity: 0.8;
  transition: 0.3s;
}
.free-game-btn a,
.readmore-btn a,
.playnow-btn a,
.catalog-btn a {
  font-size: 10px;
  color: white;
}
/* Game hot */
.game-hot-wrapper .containerr {
  align-items: baseline;
}
.game-hot,
.game-sph {
  width: 32%;
}
.game-hot a p,
.game-sph a p,
.free-games a p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.game-hot:hover,
.game-sph:hover {
  opacity: 0.8;
  transition: 0.3s;
}
/* top-seller */
/* banner1 */
.banner-wrapper,
.catalog-wrapper {
  margin-top: 40px;
}
.monkey {
  background-color: #f3dd22;
  margin-top: 20px;
  background-image: url(image\ 3.png);
  background-repeat: no-repeat;
  background-position: right;
}
.banner-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  margin: 100px 40px;
}
.readmore-btn {
  background-color: #e93434;
  width: 130px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  line-height: 30px;
  margin-bottom: 20px;
}
.readmore-btn:hover {
  opacity: 0.8;
}
.banner-wrapper .containerr:last-of-type,
.catalog-wrapper .containerr:last-of-type {
  cursor: pointer;
}
/* New Update */
/* banner2 */
.auto-chess {
  background-color: #353b4d;
  margin-top: 20px;
  background-image: url(image\ 7.png);
  background-repeat: no-repeat;
  background-position: right;
}
.playnow-btn {
  background-color: #e93434;
  width: 160px;
  height: 36px;
  border-radius: 4px;
  text-align: center;
  line-height: 36px;
  margin-bottom: 20px;
}
.playnow-btn:hover {
  opacity: 0.8;
}
/* Coming Soon */
.coming-soon-wrapper .containerr {
  align-items: baseline;
}
/* Catalog */
.catalog {
  margin-top: 20px;
  background: rgb(24, 56, 199);
  background-image: url(image\ 5.png);
  background-position: right;
  background-repeat: no-repeat;
}
.catalog-btn {
  background-color: #e93434;
  width: 160px;
  height: 36px;
  border-radius: 4px;
  text-align: center;
  line-height: 36px;
  margin-bottom: 20px;
}
.catalog-btn:hover {
  opacity: 0.8;
}
.new-release-headline {
  font-weight: 500;
  font-size: 1.1rem;
}
.banner-wrapper .containerr:first-child,
.catalog-wrapper .containerr:first-child {
  font-weight: 500;
  font-size: 1.1rem;
}
@media (max-width: 1200px) {
  .free-game-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .big-carousel-wrapper {
    padding: 0 20px;
  }
}
@media (max-width: 650px) {
  .monkey .banner-content,
  .auto-chess .banner-content,
  .catalog .banner-content {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    align-items: center;
  }
  .catalog-btn {
    background-color: #e93434;
  }
  .monkey,
  .catalog,
  .auto-chess {
    background-size: cover;
    background-position: center center;
  }
}
@media (max-width: 600px) {
  .big-carousel-wrapper {
    flex-direction: column;
  }
  .slider-for {
    width: 100%;
  }
  .slider-nav {
    width: 100%;
  }
  .new-release-wrapper,
  .free-game-wrapper,
  .game-hot-wrapper,
  .top-seller-wrapper,
  .new-update-wrapper,
  .coming-soon-wrapper,
  .banner-wrapper,
  .catalog-wrapper {
    font-size: small;
  }
  .free-game-wrapper .containerr:last-of-type,
  .game-hot-wrapper .containerr:last-of-type,
  .coming-soon-wrapper .containerr:last-of-type {
    flex-direction: column;
  }
  .free-games,
  .game-hot,
  .game-sph {
    width: 100%;
  }
  .free-games:first-of-type {
    padding-bottom: 30px;
  }
  .game-hot:nth-child(2) {
    padding: 30px 0;
  }
  .game-sph:nth-child(2) {
    margin: 0 !important;
    padding: 30px 0;
  }
  .banner-content {
    margin: 0;
    padding: 30px;
  }
  .free-game-heading-left {
    font-size: 0.85rem;
  }
  .new-release-btn a {
    font-size: 8px;
  }
  .free-game-btn a {
    font-size: 8px;
  }
  .new-release-headline,
  .banner-wrapper .containerr:first-child,
  .catalog-wrapper .containerr:first-child {
    font-size: 0.9rem;
  }
}
